body {
    background: linear-gradient(to bottom, #ffffff, #3494E6);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin: 0;
}
.search-container {
    text-align: center;
    margin: 20px 0;
}

.search-container input[type="text"] {
    width: 300px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.search-container button {
    padding: 10px 20px;
    background-color: #3494E6;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.recipe-finder-header {
    text-align: center;
    margin: 20px 0;
}

.recipe-finder-header h2 {
    font-size: 24px;
    color: #3494E6;
}

.toast {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background: #333;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    opacity: 1;
    transition: opacity 0.5s;
    z-index: 1000;
}
